---
title: tskserver
layout: default
---

<section class="top-image">
</section>

		<div class="container">
			<div class="container-twice">
				<div class="container-left">
					<section class="post-list">
						{% for post in site.posts %}
								<article vocab="http://schema.org/" typeof="BlogPosting">
									<h1 class="post-title">
										<span property="name">{{ post.title | escape }}</span>
										<section class="tags" property="keywords" content="{{ post.tags | join: ',' }}">
											{% for tag in post.tags %}
												<a href="/tag/{{ tag | slugize }}" rel="tag">{{ tag }}</a>
											{% endfor %}
										</section>
									</h1>
									<p class="post-meta"><i class="fa fa-calendar"></i>Published: <time property="datePublished" content="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d %H:%M" }}</time></p>
									<p class="post-body" property="headline" content="{{ post.excerpt | strip_html | strip_newlines }}">{{ post.excerpt }}</p>
									
									<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
										<button class="post-more" href="{{ post.url | prepend: site.baseurl }}">
											続きを読む
											<i class="fa fa-caret-right"></i>
										</button>
									</a>
								</article>
						{% endfor %}
					</section>
				</div>
				<div class="container-right sidebar">
{% include sidebar.html %}
				</div>
			</div>
			<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
		</div>

