{{ define "main-container-left" }}
<article vocab="http://schema.org/" typeof="BlogPosting">
	<h1 class="post-title">
		<span property="name">{{ .Title }}</span>
		{{ if .IsPage }}
			{{ $tags := .Params.tags | default slice }}
			<section class="tags" property="keywords" content="{{ delimit $tags "," }}">
				{{ range .Params.tags }}
					<a href="/tag/{{ . | urlize }}" rel="tag">{{ . }}</a>
				{{ end }}
			</section>
		{{ end }}
	</h1>
	<p class="post-meta">
		{{ with .Date }}
		<span>
			<i class="fa fa-calendar"></i>
			<span>
				Published: <time property="datePublished" content="{{ .Format "2006-01-02 15:04" }}">{{ .Format "2006-01-02 15:04" }}</time>
			</span>
		</span>
		<span>/</span>
		{{ end }}
		{{ with .Lastmod }}
		<span>
			<i class="fa fa-rotate-left"></i>
			<span>
				Updated: <time property="dateModified" content="{{ .Format "2006-01-02 15:04" }}">{{ .Format "2006-01-02 15:04" }}</time>
			</span>
		</span>
		<span>//</span>
		{{ end }}
		<a href="https://github.com/k5342/mc.ksswre.net/blob/master/{{ .File.Path }}"><i class="fa fa-github" aria-hidden="true"></i>Source</a>
	</p>
	</section>
	<section property="articleBody">
		{{ .Content }}
	</section>
</article>
{{ end }}
