<h1 class="post-title">
  <span property="name">{{ .Title }}</span>
  {{ $tags := .Params.tags | default slice }}
  <section class="tags" property="keywords" content="{{ delimit $tags "," }}">
    {{ range .Params.tags }}
      <a href="/tags/{{ . | urlize }}" rel="tag">{{ . }}</a>
    {{ end }}
  </section>
</h1>
<p class="post-meta">
  {{ with .Date }}
    <span>
      <i class="fa fa-calendar"></i>
      <span>
        Posted: <time property="datePublished" content="{{ .Format "2006-01-02T15:04:05Z-07:00" }}">{{ .Format "2006-01-02 15:04" }}</time>
      </span>
    </span>
    <span>/</span>
  {{ end }}
  {{ with .Lastmod }}
    <span>
      <i class="fa fa-rotate-left"></i>
      <span>
        Updated: <time property="dateModified" content="{{ .Format "2006-01-02T15:04:05Z-07:00" }}">{{ .Format "2006-01-02 15:04" }}</time>
      </span>
    </span>
  {{ end }}
</p>