<ul class="nav navbar-nav">
  {{- template "breadcrumbnav" (dict "p1" . "p2" .) -}}
</ul>
{{ define "breadcrumbnav" }}
  {{ if .p1.Parent }}
    {{- template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 ) -}}
  {{ else if not .p1.IsHome }}
    {{- template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 ) -}}
  {{ end }}
  {{- if .p1.IsHome -}}
  <li class="home"><a href="{{ .p1.Permalink }}"><i class="fa fa-home"></i></a></li>
  {{- else -}}
  <li class="leaf {{ if eq .p1 .p2 }} active{{ end }}"><a href="{{ .p1.Permalink }}">{{ .p1.Title }}</a></li>
  {{- end -}}
{{ end }}
