<table>
<thead>
<tr>
	<th align="left">world</th>
	<th align="center">bouken</th>
	<th align="center">creative</th>
</tr>
</thead>
<tbody><tr>
	<td align="left">サバイバルモード</td>
	<td align="center">●</td>
	<td align="center">●</td>
</tr>
<tr>
	<td align="left"></td>
	<td align="center"></td>
	<td align="center"></td>
</tr>
<tr>
	<td align="left">クリエイティブモード</td>
	<td align="center">▲</td>
	<td align="center">×</td>
</tr>
<tr>
	<td align="left">Mob へのダメージ</td>
	<td align="center">●</td>
	<td align="center">-</td>
</tr>
<tr>
	<td align="left">チェスト使用</td>
	<td align="center">×</td>
	<td align="center">-</td>
</tr>
<tr>
	<td align="left">特定ブロック設置</td>
	<td align="center">×</td>
	<td align="center">-</td>
</tr>
<tr>
	<td align="left">特定ブロック破壊</td>
	<td align="center">×</td>
	<td align="center">-</td>
</tr>
<tr>
	<td align="left">アイテムドロップ</td>
	<td align="center">×</td>
	<td align="center">-</td>
</tr>
<tr>
	<td align="left">アイテムを拾う</td>
	<td align="center">×</td>
	<td align="center">-</td>
</tr>
<tr>
	<td align="left">PvP</td>
	<td align="center">×</td>
	<td align="center">-</td>
</tr>
<tr>
	<td align="left">ジュークボックス使用</td>
	<td align="center">×</td>
	<td align="center">-</td>
</tr>
<tr>
	<td align="left"></td>
	<td align="center"></td>
	<td align="center"></td>
</tr>
<tr>
	<td align="left">WireRod</td>
	<td align="center">●</td>
	<td align="center">●</td>
</tr>
<tr>
	<td align="left">MobCatcher</td>
	<td align="center">●</td>
	<td align="center">●</td>
</tr>
<tr>
	<td align="left"></td>
	<td align="center"></td>
	<td align="center"></td>
</tr>
<tr>
	<td align="left">WorldEdit</td>
	<td align="center">●</td>
	<td align="center">×</td>
</tr>
<tr>
	<td align="left">Fly</td>
	<td align="center">●</td>
	<td align="center">×</td>
</tr>
<tr>
	<td align="left"><a href="/mcMMO">mcMMO</a></td>
	<td align="center">●</td>
	<td align="center">●</td>
</tr>
</tbody></table>
