<!DOCTYPE html>
{% if page.ng_app.empty? %}
<html>
{% else %}
<html ng-app="{{ page.ng_app }}">
{% endif %}
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23849444-15"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-23849444-15');
		</script>
		<meta charset="utf-8" />
		<meta name="google-site-verification" content="XabRge_swrYHPC0fR1d_7yqKf2sqFcCIy4IaXL-T2Cs" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@tskserver" />
		{% if page.description %}
		<meta name="description" content="{{ page.description | strip_html | strip_newlines }}">
		<meta name="twitter:description" content="{{ page.description | strip_html | strip_newlines }}">
		{% elsif page.excerpt %}
		<meta name="description" content="{{ page.excerpt | strip_html | strip_newlines }}">
		{% else %}
		{% endif %}
		<title>{{ page.title }}</title>
		<meta name="twitter:title" content="{{ page.title }}" />
		<link href='/css/styles.css' rel='stylesheet' />
		<link href='/css/toc.css' rel='stylesheet' />
		<link href='/css/highlight.css' rel='stylesheet' />
		<link href='/css/font-awesome.css' rel='stylesheet' />
	</head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<body>
		<header>
			<div class="container" vocab="http://schema.org/" typeof="logo">
				<a href="/" class="logo">
					<h1>tskserver</h1>
					<span>A Minecraft Server!</span>
				</a>
			</div>
			<nav vocab="http://schema.org/" typeof="SiteNavigationElement">
				<div class="container">
						<ul>
							<li>
								<a propery="name" href="/">トップページ</a>
							</li>
							<li>
								<a propery="name" href="/about">サーバ情報</a>
							</li>
							<li>
								<a propery="name" href="/plugins">プラグイン一覧</a>
							</li>
							<li>
								<a propery="name" href="/commands">コマンド集</a>
							</li>
							<li>
								<a propery="name" href="/mcMMO">mcMMO</a>
							</li>
							<li>
								<a propery="name" href="/introduction">サーバ参加ガイド</a>
							</li>
						</ul>
				</div>
			</nav>
		</header>
{{ content }}
		<footer>
			mc.ksswre.net は Google Analytics を利用してデータを収集しています。
		</footer>
	</body>
	<link href='https://fonts.googleapis.com/css?family=Passion+One:700' rel='stylesheet' type='text/css' />
	<link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
{% unless page.ng_app.empty? %}
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
{% endunless %}
	<script src="/scripts/script.js"></script>
	<script src="/scripts/jquery.tocLight.js"></script>
	<script type="text/javascript">
			$(function() {
				$.toc.clickHideButton();
			});
	</script>
</html>
